<script src="/socket.io/socket.io.js"></script>

<script>

var win = false;
var socket = io();
var winnum = 0;
/* sends a msg to server that there is a winner  */
var winner = function(){
    win = true;
    if (win){
        console.log(win);
        socket.emit('winner', { winner: "You have won" });
    };
    
};
/* end everything */
var end_everything = function(){
  console.log("CLOSING=====" + win);
  if (!win){
//socket- connection

       //turn off game
    
       var d = document.getElementById("d");
       d.setAttribute("style", "background-color:green;");

       //face

       //music 
    } else{
    winnum++;
  }

   win = false;
   console.log("CLOSING=====" + win);
    
}
/* loading a new level for only client side*/
socket.on("new_level", function(){
//refresh winning status
var d = document.getElementById("d");
console.log("new LEVELS");
d.setAttribute("style", "background-color:transparent;");
win = false;


});
/* sends to server msg to restart for all clients */
var restartmsg = function(){
    socket.emit("restartmsg", "restartmsg");
}
//setInterval(end_everything);
socket.on("close",end_everything);
</script>

<div id="d" width="500" height="500">

<center>Hello World!</center>

</div>
<input type="submit" onclick="winner()" value="Click Me"></input>
<input type="submit" onclick="restartmsg();" value="Restart"></input>
